.fonte {
	font-size: 50px !important;
}

.gravando {
	background-image: url('../images/rec.gif');
	background-size: 150px 75px;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 75px;
}

.pausado {
    background-image: url('../images/pause.png');
    background-size: 80px 75px;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 75px;
}